{% extends 'base.html.twig' %}

{% block title %}Edit OpeningHours{% endblock %}

{% block body %}
    <div class="w-2/3 mx-auto">
        <div class="m-4 flex">
            <a href="{{ path('app_opening_hours_new', {'shop_keeper': shop_keeper_id}) }}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline mr-3"><i class="fa-solid fa-arrow-left"></i> retour</a>
        </div>
        <div class="flex items-center justify-center">
            <h1 class="text-3xl font-bold text-gray-900">
                Modifier horaire
            </h1>
        </div>
        {{ include('opening_hours/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
