{% extends 'base.html.twig' %}

{% block title %}Edit ShopKeeper{% endblock %}

{% block body %}
    <h1>Edit ShopKeeper</h1>

    {{ include('shop_keeper/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dashboard') }}">back to list</a>

    {{ include('shop_keeper/_delete_form.html.twig') }}
{% endblock %}
