{% extends 'base.html.twig' %}

{% block title %}Edit ShopKeeper{% endblock %}

{% block body %}
    <div class="m-4 flex">
        <a href="{{ path('app_dashboard') }}" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline mr-3"><i class="fa-solid fa-arrow-left"></i> retour dashboard</a>
        {{ include('shop_keeper/_delete_form.html.twig') }}
    </div>
    <div class="flex items-center justify-center">
        <h1 class="text-3xl font-bold text-gray-900">
            Modifier mon commerce
        </h1>
    </div>

    <div class="w-2/3 mx-auto">
        {{ include('shop_keeper/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
