{% extends 'base.html.twig' %}

{% block title %}New ShopKeeper{% endblock %}

{% block body %}
    <h1>Create new ShopKeeper</h1>

    {{ include('shop_keeper/_form.html.twig') }}

    <a href="{{ path('app_dashboard') }}">back to list</a>
{% endblock %}
