{% extends 'base.html.twig' %}

{% block title %}New ShopKeeper{% endblock %}

{% block body %}
    <div class="m-4">
        <a href="{{ path('app_dashboard') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">retour dashboard</a>
    </div>
    <div class="flex items-center justify-center">
        <h1 class="text-3xl font-bold text-gray-900">
            Ajouter mon commerce
        </h1>
    </div>
    <div class="w-2/3 mx-auto">
        {{ include('shop_keeper/_form.html.twig') }}
    </div>
{% endblock %}
